* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.cards {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(3, 350px);
  column-gap: 10px;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid rgb(230, 227, 227);
  align-items: end;
  justify-self: center;
  font-size: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 21px -10px rgba(200, 197, 197, 1);
  padding: 10px;
}

.card:hover {
  background-color: rgb(226, 226, 226);
}

img {
  width:70px;
  height: 70px;
  border-radius: 100%;
}

.img {
 grid-row: 1 / 3;
 padding: 20px;
 align-self: flex-start;
}


.h1, .p {
  grid-column: 2 / 4;
  padding: 10px;
  align-self: center;
}

.h1 {
  font-weight: 400;
}

.p {
  font-weight: 300;
  color: rgb(151, 150, 150);
  align-self: baseline;
}

.link {
  grid-column: 1 / 3;
  padding: 10px;
  color: rgb(151, 150, 150);
  padding-left: 30px;
}

.pointer {
text-align: end;
grid-column: 3 / 4;
padding: 10px;
color: rgb(151, 150, 150);
}

@media all and (max-width: 780px) {
  .cards {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(1, 350px);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
  }
}